@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@600;700;800&display=swap");

html,
body {
  font-size: 20px;
  padding: 0;
  margin: auto;
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 18px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 800;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  color: #433e67;
  font-size: 2em;
  margin-top: 0;
}

h3 {
  color: #ffaa00;
  font-size: 1.5em;
}

hr {
  border: 0;
  width: 96%;
  background: linear-gradient(90deg, #ff9999 0%, #ff9999 1.04%, #ff6b9a 100%);
  height: 2px;
  margin-bottom: 2em;
}

header {
  background-size: 100%;
  background: #fff6d9;
}

.button {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  background: linear-gradient(90deg, #ff9999 0%, #ff9999 1.04%, #ff6b9a 100%);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 28px;
  padding: 12px 48px;
}

.header-contents {
  position: relative;
  margin: auto;
  padding: 3em;
  max-width: 1152px;
  display: flex;
  flex-direction: column;
  background-image: url("/img/sakura.png");
  background-repeat: no-repeat;
  background-position: left 350px top -80px;
}

.header-contents img {
  max-width: 360px;
}

.header-contents h1 {
  margin: 0;
  color: #433e67;
  line-height: 120%;
}

.header-contents h2 {
  margin: 0;

  color: #593c41;
  font-weight: 700;
  font-size: 1.5em;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 32px;
}

main {
  margin: auto;
  max-width: 1152px;
  padding: 3em;

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  main {
    padding: 2em;
  }
}

main h2 {
  line-height: 120%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2em;
}

.row .textCol {
  min-width: 50%;
  flex: 3;
  flex-shrink: 0;
}

.row .imgCol {
  min-width: 420px;
  flex: 2;
}

.row .imgCol .home-image {
  padding-top: 1em;
}

@media screen and (max-width: 767px) {
  .row .imgCol {
    min-width: 100%;
  }
}

.row .imgCol img {
  border-radius: 0.4em;
}

.logo {
  max-width: 180px;
}

.swiper {
  border-radius: 0.4em;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: auto !important; /* important because bundler reorders styles. i am enraged */

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artist {
  align-items: flex-start;
  margin-bottom: 3em;
}

.artist .artist-info {
  align-items: center;
  grid-gap: 1em;
}

.artist h2 {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .artist {
    grid-gap: 1em;
  }

  .artist h2 {
    font-size: 28px;
  }

  .artist-carousel {
    padding-top: 1em;
  }
}

.artist .icon img {
  border-radius: 50%;
}

.artist p {
  font-size: 16px;
}

.artist-socials {
  font-size: 28px;
  grid-gap: 1em;
}

.artist-link {
  font-size: 14px;
  padding: 6px 24px;
  margin-top: 16px;
}
